@font-face {
  font-family: 'NIXGONFONTS-2.0';
  src: url('fonts/NIXGONFONTS-M-2.0.ttf');
}

@font-face {
  font-family: 'NIXGONFONTS-2.0';
  src: url('fonts/NIXGONFONTS-B-2.0.ttf');
  font-weight: bold;
}

body {
  font-family: 'NIXGONFONTS-2.0'
}

.number {
  background-color: #ff4081;
  color: white;
}

.user-card {
  width: 80%;
  /*margin-top: 40px;*/
}

.travel {
  width: 80%;
}

.primary-title {
  color: #3f51b5;
}

.accent-title {
  color: #ff4081;
}

.profile span {
  line-height: 1.8rem;
}

img.avatar {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.sign-up-warn {
  margin-left: 36px;
  padding-bottom: 26px;
}

.md-dialog {
  width: 80%;
}

md-dialog md-dialog-content.sticky-container {
  padding: 0;
}

md-dialog md-dialog-content.sticky-container > div {
  padding: 0 24px 24px;
}

.sticky-container .md-subheader {
  background-color: #ff4081;
  color: white;
  margin: 0;
}

h2 .md-subheader.md-sticky-clone {
  margin-right: 0;
  margin-top: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}

h2 .md-subheader-content {
  padding-left: 10px;
}

.md-card-image {
  width: 100%;
}

.time-date {
  font-size: 10px !important;
}
