.form-control {
  width: 135px!important;
}


.pickerDate >input{
    border: none;
    background:#3F51B5;
    color:white;
    font-size:15px;

}


.mb-datepicker {
  width: 250px;
  position: absolute;
  margin-top: 10px;
  background-color: #f5f5f5;
  z-index: 3000;
  -webkit-box-shadow: 1px 1px 7px 0px rgba(37, 53, 50, 0.37);
  -moz-box-shadow:    1px 1px 7px 0px rgba(37, 53, 50, 0.37);
  box-shadow:         1px 1px 7px 0px rgba(37, 53, 50, 0.37);
}
.mb-datepicker  table {
  width: 250px;
  table-layout:fixed;
}
.mb-datepicker table thead tr td{
  padding-bottom: 10px;
}
.header-item {
  padding-left: 20px;
  padding-right: 20px;
}
.header-month {
  text-align: center;
  width: 50%;
  display: inline-block;
}
.header-right {
  text-align: right;
}
caption {
  padding: 0!important;
}
.header-year-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-family: \"Open Sans\", sans-serif;
  font-size: 1.2em;
  background-color: #15A5DB;
}
.header-nav-wrapper {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #626262;
  font-family: \"Open Sans\", sans-serif;
  font-size: 1.2em;
  background-color: #E8E8E8;
}
.header-year {
  padding-top: 1px;
  padding-bottom: 0!important;
  text-align: center;
  width: 70%;
  display: inline-block;
}
.mb-datepicker table tbody tr td{
  text-align: center;
  padding: 5px;
  cursor: pointer;
  color: #626262;
}
.mb-datepicker table tbody tr.days .day-item:hover{
  background-color: #15A5DB;
  color: #f5f5f5!important;
}
.mb-datepicker table tbody tr td.day-head{
  background-color: #f5f5f5;
  cursor: default;
  border-bottom: 1px solid #ECECEC;
  font-weight: 600;
}
.mb-datepicker table tbody tr td.day-head:hover{
  background-color: #f5f5f5;
  color: #626262;
}
.today {
  background: #61C7EC!important;
  color: white!important;
}
.other {
}
.weekend {
  color:#a3a3a3!important;
}
.day {
  color:#60C1E6!important
}
.disabled {
  background:#ECECEC!important;
  color:#a3a3a3!important;
}
.disabled:hover {
  background:#ECECEC!important;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.mb-input-field {
  width:100px;
  border-radius: 0;
  border-bottom: 1px solid red;
}
