<md-card class="travel">
  <md-card-content>
    <h2 class="md-title primary-title">{{ rocket.title | translate}}</h2>
    <p>
      {{'Space' | translate}}: {{travel.period.space.camp | translate}}-{{travel.period.space.type}}{{travel.period.space.number}}<br>
      {{'Booking Date' | translate}}: {{travel.period.start | date:'yyyy-MM-dd'}}<br>
      {{'Duration' | translate}}: {{travel.period.duration}} {{durationUnit | translate}}<br>
      {{'Price' | translate}}: {{travel.price | currency:'￦':0}}
    </p>
  </md-card-content>
</md-card>
<md-card ng-if="travel.period.space.category === 'EVENT'" class="travel">
  <md-card-content>
    <h2 class="md-title accent-title">{{ 'Event Information' | translate }}</h2>
    <div layout="row" layout-align="start center">
      <md-input-container flex>
        <label>Title</label>
        <input type="text" ng-model="eventInfo.title">
      </md-input-container>
    </div>
    <div layout="row" layout-align="start center">
      <md-input-container flex>
        <label>Description</label>
        <input type="text" ng-model="eventInfo.description">
      </md-input-container>
    </div>
    <div layout="row" layout-align="start center">
      <md-input-container flex>
        <label>Attendance</label>
        <input type="number" ng-model="eventInfo.attendance">
      </md-input-container>
    </div>
    <div layout="row" layout-align="start center">
      <md-input-container flex>
        <label>Organizer</label>
        <input type="text" ng-model="eventInfo.organizer">
      </md-input-container>
    </div>
    <div layout="row" layout-align="start center">
      <md-input-container flex>
        <label>Contacts</label>
        <input type="text" ng-model="eventInfo.contacts">
      </md-input-container>
    </div>
  </md-card-content>
</md-card>

<md-card class="travel">
  <md-card-content>
    <h2 class="md-title accent-title">{{'Payment Information' | translate}}</h2>
    <div layout="row" layout-align="start center">
      <span>{{'PointUse' | translate}}:</span>
      <span flex></span>
      <md-input-container md-no-float>
        <label>최소 사용 가능한 포인트는 100원이며, 100원 단위로 사용 가능합니다.</label>
        <input type="number" ng-change="pointChange()" style="text-align:right;" ng-model="travel.usedPoint" min="0" step="100" max="{{user.point}}" placeholder="Point">
      </md-input-container>
    </div>
    <div layout="row" layout-align="start center">
      <span>{{'Payment Type' | translate}}:</span>
      <span flex></span>
      <md-radio-group ng-model="travel.payment.isOnline" layout="row">
        <md-radio-button ng-value="true" ng-disabled="users.email !=='nixgonspacetest@gmail.com'">{{'ONLINE' | translate}}</md-radio-button>
        <md-radio-button ng-value="false">{{'OFFLINE' | translate}}</md-radio-button>
      </md-radio-group>
    </div>
    <div layout="row" layout-align="start center">
      <span>{{'Payment Method' | translate}}:</span>
      <span flex></span>
      <md-radio-group ng-model="travel.payment.method" layout="row">
        <!--md-radio-button ng-if="rocket.type =='MONTHLY' || travel.period.space.category === 'EVENT'" ng-value="'BANK_TRANSFER'">{{'BANK_TRANSFER' | translate}}</md-radio-button-->
        <md-radio-button ng-value="'CARD'">{{'CARD' | translate}}</md-radio-button>
          <!--<md-radio-button ng-value="'CREDIT_CARD'">신용카드</md-radio-button>-->

      </md-radio-group>
    </div>
    <md-action-bar layout="row" layout-align="end center">
      <md-button class="md-accent" ng-click="placeOrder(travel)">{{'Place an order' | translate}}</md-button>
    </md-action-bar>
  </md-card-content>
</md-card>
