<!-- <div class="modal-dialog">
  <div class="modal-content"> -->
    <!-- <time-date-picker ng-model="startDate" display-mode="date" orientation="false"></time-date-picker> -->
    <mdc-date-picker model="startDate" label="Booking Date" dialog-md-theme="datePickerTheme"></mdc-date-picker>
  <!-- </div>
</div> -->
