<md-dialog>
  <!-- <md-dialog-content> -->
    <time-date-picker ng-model="startDate" display-mode="date" orientation="false"></time-date-picker>
    <mdc-date-picker model="startDate" label="Booking Date" dialog-md-theme="default"></mdc-date-picker>
  <!-- </md-dialog-content> -->
</md-dialog>
