<div ng-init="listAvailableDuration()"></div>
<md-list layout-fill>
  <md-subheader class="md-no-sticky">이용할 기간을 선택하세요.</md-subheader>
  <md-divider></md-divider>
  <md-list-item class="md-2-line" ng-click="selectDuration(duration)" ng-repeat="duration in availableDuration">

    <div class="md-list-item-text">
      <h3>{{duration}} {{durationUnit | translate}}</h3>
      <p>{{start.format() | date:'yyyy-MM-dd'}}</p>
    </div>
    <!-- <md-icon class="md-secondary md-primary" ng-click="addToCart()" md-svg-src="/img/icons/ic_add_shopping_cart_24px.svg" aria-label="Add to cart"></md-icon> -->
    <md-divider></md-divder>
  </md-list-item>
</md-list>
