<md-dialog style="width:60%;" >
  <md-dialog-content>
    <md-action-bar layout="row" layout-align="end center">
      <md-button ng-click="closeDialog()">Close</md-button>
    </md-action-bar>
    <div layout="row" layout-align="center start">
       <img  style="width:80%;height:80%;padding-bottom:35px;" class="md-card-image" ng-src="/img/seomyeon_space_map_bold.png">
    </div>

  </md-dialog-content>
</md-dialog>
