<md-dialog aria-label="travel.orderId">
  <md-dialog-content class="sticky-container">
    <md-subheader class="md-sticky-no-effect">{{'Order Number' | translate}}: {{travel.orderId}}</md-subheader>

    <md-list>
      <md-list-item>
        <p>{{'Order Date' | translate}}: {{travel.created | date:'yyyy-MM-dd HH:mm:ss'}}</p>
      </md-list-item>
      <md-list-item>
        <p>{{'Order Status' | translate}}: {{travel.status}}</p>
      </md-list-item>
      <md-list-item>
        <p>{{'Product Name' | translate}}: {{travel.rocket.title}}</p>
      </md-list-item>
      <md-list-item>
        <p>{{'Quantity' | translate}}: {{travel.quantity}}</p>
      </md-list-item>
      <md-list-item>
        <p>{{'Price' | translate}}: {{travel.price}}</p>
      </md-list-item>
      <md-list-item>
        <p>{{'Payment Method' | translate}}: {{travel.payment.method}}</p>
      </md-list-item>
      <md-list-item>
        <p>{{'Used Point' | translate}}: {{travel.usedPoint}}</p>
      </md-list-item>
    </md-list>

    <div class="md-actions" layout="row">
      <md-button class="md-primary" ng-click="closeDialog()">Close</md-button>
    </div>
  </md-dialog-content>
</md-dialog>
