<div ng-init="listTravels()" flex></div>
<md-progress-linear class="md-accent" ng-show="!isTravelsReady" md-mode="indeterminate"></md-progress-linear>
<md-list layout-fill>
  <md-subheader class="md-no-sticky">주문에 대한 상세 내역을 원하시면 클릭해 주시기 바랍니다.</md-subheader>
  <md-divider></md-divider>
  <md-list-item class="md-3-line" ng-click="showTravelDetail($event, t)" ng-repeat="t in travels">
    <!-- <img class="md-avatar" ng-src="/img/{{r.spaceType}}.jpg" alt="{{r.spaceType}}"> -->
    <div class="md-list-item-text">
      <p>주문번호 : {{t.orderId}} ({{t.status | translate}})</p>
      <h4>주문일시 : {{t.created | date:'yyyy-MM-dd HH:mm:ss'}}</h4>
      <p> 금액 : {{t.price}}원 </p>
    </div>
    <!-- <md-icon class="md-secondary md-primary" ng-click="cancelOrder(t)" md-svg-src="/img/icons/ic_delete_24px.svg" aria-label="Cancel"></md-icon> -->
    <md-divider></md-divder>
  </md-list-item>
</md-list>
