<body>
<md-card class="travel">
  <md-card-content>
    <h2 class="md-title">구매자 정보</h2>
    <div layout="row" layout-align="start center" layout-padding>
      <span>성명</span>
      <span flex></span>
      <span>{{user.familyName}}{{user.givenName}}</span>
    </div>
    <div layout="row" layout-align="start center" layout-padding>
      <span>email</span>
      <span flex></span>
      <span>{{user.email}}</span>
    </div>
    <div layout="row" layout-align="start center" layout-padding>
      <span>전화번호</span>
      <span flex></span>
      <span>{{user.mobileNumber}}</span>
    </div>

    <h2 class="md-title">상품(예약) 정보</h2>
    <div layout="row" layout-align="start center" layout-padding>
      <span>상품명</span>
      <span flex></span>
      <span>{{travel.period.space.camp | translate }}-{{travel.period.space.type}}{{travel.period.space.number}}</span>
    </div>
    <div layout="row" layout-align="start center" layout-padding>
      <span>예약일</span>
      <span flex></span>
      <span>{{travel.period.start | date:'yyyy-MM-dd'}}</span>
    </div>

    <h2 class="md-title">결제 정보</h2>
    <div layout="row" layout-align="start center" layout-padding>
      <span>결제 타입</span>
      <span flex></span>
      <span ng-if="travel.payment.isOnline">{{ 'ONLINE' | translate }}</span>
      <span ng-if="!travel.payment.isOnline">{{ 'OFFLINE' | translate }}</span>
    </div>
    <div layout="row" layout-align="start center" layout-padding>
      <span>결제 방법</span>
      <span flex></span>
      <span>{{travel.payment.method | translate }}</span>
    </div>
    <div layout="row" layout-align="start center" layout-padding>
      <span>가격</span>
      <span flex></span>
      <span>{{travel.price}}원</span>
    </div>

    <h2 ng-if = "travel.payment.method == 'BANK_TRANSFER'" class="md-title">무통장 입금 정보</h2>
    <div layout="row" layout-align="start center" layout-padding ng-if = "travel.payment.method == 'BANK_TRANSFER'">
      <span>은행 정보</span>
      <span flex></span>
      <span>부산은행</span>
    </div>
    <div layout="row" layout-align="start center" layout-padding ng-if = "travel.payment.method == 'BANK_TRANSFER'">
      <span>입금주</span>
      <span flex></span>
      <span>닉스곤(주) 정연태</span>
    </div>
    <div layout="row" layout-align="start center" layout-padding ng-if = "travel.payment.method == 'BANK_TRANSFER'">
      <span>계좌번호</span>
      <span flex></span>
      <span>051-715-7155</span>
    </div>
    <md-action-bar layout="row" layout-align="end center">
      <md-button class="md-accent" ng-if="travel.payment.isOnline" onclick="doPay_ActiveX()">온라인결제 - testButton</md-button>
      <md-button class="md-accent" ng-if="!travel.payment.isOnline" ng-click="payRequest(travel)">주문(예약) 완료</md-button>
    </md-action-bar>
  </md-card-content>
</md-card>





  <input type="hidden" name="LGD_MID"             id = 'LGD_MID'				  value="{{PData.LGD_MID}}"/>            <!-- 상점아이디 -->
	<input type="hidden" name="LGD_OID"             id = 'LGD_OID'          value="{{PData.LGD_OID}}"/>            <!-- 주문번호 -->
	<input type="hidden" name="LGD_BUYER"           id = 'LGD_BUYER'        value="{{PData.LGD_BUYER}}"/>          <!-- 구매자 -->
	<input type="hidden" name="LGD_PRODUCTINFO"     id = 'LGD_PRODUCTINFO'  value="{{PData.LGD_PRODUCTINFO}}"/>    <!-- 상품정보 -->
	<input type="hidden" name="LGD_AMOUNT"          id = 'LGD_AMOUNT'       value="{{PData.LGD_AMOUNT}}"/>         <!-- 결제금액 -->
	<input type="hidden" name="LGD_BUYEREMAIL"      id = 'LGD_BUYEREMAIL'		value="{{PData.LGD_BUYEREMAIL}}"/>     <!-- 구매자 이메일 -->
	<input type="hidden" name="LGD_CUSTOM_SKIN"     id = 'LGD_CUSTOM_SKIN'  value="{{PData.LGD_CUSTOM_SKIN}}"/>    <!-- 결제창 SKIN -->
	<input type="hidden" name="LGD_WINDOW_VER"      id = 'LGD_WINDOW_VER'	  value="{{PData.LGD_WINDOW_VER}}"> 	 <!-- 결제창버전정보 (삭제하지 마세요) -->
	<input type="hidden" name="LGD_TIMESTAMP"       id = 'LGD_TIMESTAMP'		value="{{PData.LGD_TIMESTAMP}}"/>      <!-- 타임스탬프 -->
	<input type="hidden" name="LGD_HASHDATA"        id = 'LGD_HASHDATA'			value="{{PData.LGD_HASHDATA}}"/>       <!-- MD5 해쉬암호값 -->
	<input type="hidden" name="LGD_NOTEURL"			    id = 'LGD_NOTEURL'			value="{{PData.LGD_NOTEURL}}"/>        <!-- 결제결과 수신페이지 URL -->
	<input type="hidden" name="LGD_VERSION"         id = 'LGD_VERSION'			value="PHP_XPay_lite_2.5"/>			 <!-- 버전정보 (삭제하지 마세요) -->
	<input type="hidden" name="LGD_BUYERIP"         id = 'LGD_BUYERIP'			value="{{PData.LGD_BUYERIP}}">         <!-- 구매자IP -->
  <input type="hidden" name="LGD_BUYERID"         id = 'LGD_BUYERID'		  value="{{PData.LGD_BUYERID}}">         <!-- 구매자ID -->

	<input type="hidden" name="LGD_TID"			        id = 'LGD_TID'            value=""/>
	<input type="hidden" name="LGD_PAYTYPE"	        id = 'LGD_PAYTYPE'		    value=""/>
	<input type="hidden" name="LGD_PAYDATE"	        id = 'LGD_PAYDATE'		    value=""/>
	<input type="hidden" name="LGD_FINANCECODE"	    id = 'LGD_FINANCECODE'		value=""/>
	<input type="hidden" name="LGD_FINANCENAME"	    id = 'LGD_FINANCENAME'		value=""/>
	<input type="hidden" name="LGD_FINANCEAUTHNUM"	id = 'LGD_FINANCEAUTHNUM'	value=""/>
	<input type="hidden" name="LGD_ACCOUNTNUM"	    id = 'LGD_ACCOUNTNUM'		  value=""/>
	<input type="hidden" name="LGD_RESPCODE"        id = 'LGD_RESPCODE'       value=""/>
	<input type="hidden" name="LGD_RESPMSG"         id = 'LGD_RESPMSG'        value=""/></body>
<script language="javascript" src="http://xpay.uplus.co.kr:7080/xpay/js/xpay_ub_utf-8.js" type="text/javascript"></script>