<div ng-init="listPeriods()" flex></div>
<!--md-progress-linear class="md-accent" md-mode="indeterminate"></md-progress-linear-->
<md-list layout-fill>
  <md-list-item class="md-3-line" ng-click="showBookingDetail()" ng-repeat="p in myPeriods | orderBy : 'start'">
    <!-- <img class="md-avatar" ng-src="/img/{{r.spaceType}}.jpg" alt="{{r.spaceType}}"> -->
    <div class="md-list-item-text">
      <h3>{{p.space.camp | translate}}-{{p.space.type}}{{p.space.number}}</h3>
      <h4 ng-if="p.space.category=='EVENT'">{{p.start | date:'yyyy-MM-dd HH:mm'}} ~
          {{p.end | date:'HH:mm'}} {{p.duration}}시간</h4>
      <h4 ng-if="p.space.category=='WORK'" >{{p.start | date:'yyyy-MM-dd'}}</h4>
      <p>{{p.status | translate}}</p>
    </div>
    <!-- <md-icon class="md-secondary md-primary" ng-click="cancelOrder(t)" md-svg-src="/img/icons/ic_delete_24px.svg" aria-label="Cancel"></md-icon> -->
    <md-divider></md-divder>
  </md-list-item>
</md-list>
