<md-dialog style="width:60%;">
  <md-dialog-content>
    <div layout="row" layout-align="center start">
      <img style="width:80%;height:80%;" ng-src="/img/{{rocket.spaceType}}.jpg">
    </div>
    <h2 class="md-title">{{rocket.title}}</h2>
    <p class="md-subhead">{{rocket.price | currency:'￦':0}}</p>
    <p class="md-body-1">{{rocket.description}}</p>
    <md-action-bar layout="row" layout-align="end center">
      <md-button ng-click="cancel()">Close</md-button>
    </md-action-bar>
  </md-dialog-content>
</md-dialog>


    <!--<iframe></iframe>-->