<md-card class="md-padding user-card">
  <!-- <md-button ng-click="signInAnother()">다른 아이디로 가입하기</md-button> -->

  <md-input-container md-no-float>
    <md-icon md-svg-src="/img/icons/ic_person_24px.svg"></md-icon>
    <input type="text" ng-model="user.familyName" placeholder="{{'Last Name' | translate}}">
  </md-input-container>
  <md-input-container md-no-float>
    <md-icon></md-icon>
    <input type="text" ng-model="user.givenName" placeholder="{{'First Name' | translate}}">
  </md-input-container>
  <md-input-container md-no-float>
    <md-icon md-svg-src="/img/icons/ic_email_24px.svg" class="email"></md-icon>
    <input ng-model="user.email" type="email" placeholder="{{'Email' | translate}}">
  </md-input-container>
  <md-input-container md-no-float>
    <md-icon class="email"></md-icon>
    <input ng-model="retype.email" type="email" placeholder="{{'Retype Email' | translate}}">
  </md-input-container>

  <md-input-container md-no-float>
    <md-icon md-svg-src="/img/icons/ic_vpn_key_24px.svg"></md-icon>
    <input ng-model="user.password" type="password" placeholder="{{'Password' | translate}}">
  </md-input-container>
  <md-input-container md-no-float>
    <md-icon></md-icon>
    <input ng-model="retype.password" type="password" placeholder="{{'Retype Password' | translate}}">
  </md-input-container>

  <div class="sign-up-warn">
    <span class="md-caption" layout-wrap>
      부정확한 성, 이름, 휴대폰 번호의 입력시 닉스곤 스페이스 서비스 이용이 불가합니다.
    </span>
  </div>

  <md-input-container md-no-float>
    <md-icon md-svg-src="/img/icons/ic_phone_24px.svg"></md-icon>
    <input ng-model="user.mobileNumber" type="text" placeholder="{{'Phone Number' | translate}}" ng-disabled="isRequestDisabled">
  </md-input-container>
  <div class="sign-up-warn" ng-if="!isRequested">
    <span class="md-caption" layout-wrap>
      전화번호 입력 후 인증코드 요청 버튼을 누르세요.
    </span>
  </div>
  <md-button class="md-raised md-primary" ng-click="requestCode()" ng-disabled="isDisabled">{{'Request Code' | translate}}</md-button><br>

  <md-input-container md-no-float ng-show="isRequested">
    <md-icon md-svg-src="/img/icons/ic_security_24px.svg"></md-icon>
    <input ng-model="inputCode" type="text" placeholder="{{'Verification Code' | translate }}" ng-disabled="isDisabled" aria-label="Verification Code">
    <div ng-messages="inputCode.$error">
      <div ng-message="required">{{secs}}</div>
    </div>
  </md-input-container>
  <div class="sign-up-warn" ng-show="isRequested">
    <span class="md-caption" layout-wrap>
      인증코드 입력 후 인증 버튼을 누르세요
    </span>
  </div>
  <md-button ng-show="isRequested" class="md-raised md-primary" ng-click="verify(inputCode)" ng-disabled="isDisabled">{{'Verify' | translate }}</md-button><br>



  <md-button ng-show="isVerified" class="md-raised md-accent" ng-click="signUp(user)">{{'Sign Up' | translate}}</md-button>
  <div class="sign-up-warn">
    <span class="md-caption" layout-wrap>
      회원가입을 함으로써 닉스곤 스페이스의 <a style="color: #ff4081; text-decoration: none;" ng-href="http://space.nixgon.com/support/terms" target="_blank">&nbsp;이용 약관</a>, <a style="color: #ff4081; text-decoration: none;" ng-href="http://space.nixgon.com/support/privacy"  target="_blank">&nbsp;개인정보 보호 정책</a>, <a style="color: #ff4081; text-decoration: none;" ng-href="http://space.nixgon.com/support/cancellation-policies" target="_blank">&nbsp;취소 환불 정책</a>에 동의하시게 됩니다.
    </span>
  </div>
</md-card>
