<md-card class="md-padding user-card">


  <md-input-container md-no-float>
    <label>이메일</label>
    <input ng-model="login.email" type="text">
  </md-input-container>

  <md-input-container md-no-float>
    <label>비밀번호</label>
    <input ng-model="login.password" type="password" ng-enter="signIn()">
  </md-input-container>

  <md-action-bar layout="row" layout-align="end center">
    <md-button class="md-primary" ng-click="goToSignUp()">회원가입</md-button>
    <md-button class="md-accent" ng-click="signIn()">로그인</md-button>
  </md-action-bar>

</md-card>
