<div ng-init="listSpacesFromRocket()"></div>
<md-progress-linear class="md-accent" ng-show="!isSpacesReady" md-mode="indeterminate"></md-progress-linear>
<md-list layout-fill ng-if="isSpacesReady" >
  <md-subheader class="md-no-sticky">주문(예약) 할 좌석 번호를 선택하세요. 좌석의 위치가 궁금하시면 우측 상단에 맵보기 버튼을 클릭하세요.</md-subheader>
  <md-divider></md-divider>
  <md-list-item class="md-3-line" ng-click="selectSpace(space)" ng-repeat="space in spaces">
    <span class="md-avatar number" layout="column" layout-align="center center">{{space.number}}</span>
    <div class="md-list-item-text">
      <h3>{{space.camp | translate }}-{{space.type}}{{space.number}}</h3>
      <h4 ng-show="space.type === 'CSD'">CS{{space.number * 2 - 1}} + CS{{space.number * 2}}</h4>
      <p>{{space.city | translate}}, {{space.country | translate}}</p>
    </div>
    <md-divider></md-divder>
  </md-list-item>
</md-list>
