<div ng-init="listAvailableStartHours()"></div>
<!-- <md-progress-linear class="md-accent" ng-show="!isSpacesReady" md-mode="indeterminate"></md-progress-linear> -->
<md-list layout-fill>
  <md-subheader class="md-no-sticky">주문(예약) 시작 시간을 클릭하세요.</md-subheader>
  <md-divider></md-divider>
  <md-list-item class="md-1-line" ng-if="availableStartHours==[]">
    <div class="md-list-item-text">
      <h3>예약 가능한 시간이 없습니다.</h3>
    </div>
    <md-divider></md-divder>
  </md-list-item>
  <md-list-item class="md-2-line" ng-click="selectStartHour(startHour)" ng-repeat="startHour in availableStartHours">
    <div class="md-list-item-text">
      <h3>{{startHour}} {{'o\'clock' | translate}}</h3>
      <p>{{start.format() | date:'yyyy-MM-dd'}}</p>
    </div>
    <md-divider></md-divder>
  </md-list-item>
</md-list>
