<!--피드백 형태로 변경-->
<div ng-init="listRockets()" flex></div>
<md-progress-linear class="md-accent" ng-show="!isRocketsReady" md-mode="indeterminate"></md-progress-linear>
<md-list layout-fill>
  <md-subheader class="md-no-sticky">주문(예약) 할 스페이스를 클릭하세요. 상품의 자세한 설명을 원하시면  <md-icon md-svg-src="/img/icons/ic_details_24px.svg" style="width:24px" aria-label="Details"></md-icon> 를 클릭하세요</md-subheader>
  <md-divider></md-divider>
  <div ng-repeat="rocketType in ROCKET_TYPE_LIST">
    <md-subheader class="md-no-sticky">{{rocketType | translate}}</md-subheader>
    <md-list-item class="md-2-line" ng-click="selectRocket(r)" ng-repeat="r in rockets | filter:{ type:rocketType } | orderBy:'code'">
      <img class="md-avatar" ng-src="/img/thumbnail/{{r.spaceType}}.jpg" alt="{{r.spaceType}}">
      <div class="md-list-item-text">
        <h3>{{r.title | translate }}</h3>
        <p>{{r.price | currency:'￦':0}}</p>
      </div>
      <md-icon class="md-secondary md-primary" ng-click="showRocketDetail(r)" md-svg-src="/img/icons/ic_details_24px.svg" aria-label="Details"></md-icon>

    </md-list-item>
    <md-divider ng-if="!$last"></md-divider>
  </div>
</md-list>


<!--원본-->
<!--<div ng-init="listRockets()" flex></div>-->
<!--<md-progress-linear class="md-accent" ng-show="!isRocketsReady" md-mode="indeterminate"></md-progress-linear>-->
<!--<md-list layout-fill>-->
  <!--<md-list-item class="md-2-line" ng-click="selectRocket(r)" ng-repeat="r in rockets | orderBy:'-price'">-->
    <!--<img class="md-avatar" ng-src="/img/{{r.spaceType}}.jpg" alt="{{r.spaceType}}">-->
    <!--<div class="md-list-item-text">-->
      <!--<h3>{{r.title}}</h3>-->
      <!--<p>{{r.price | currency:'￦':0}}</p>-->
    <!--</div> -->
    <!--<md-icon class="md-secondary md-primary" ng-click="showRocketDetail(r)" md-svg-src="/img/icons/ic_details_24px.svg" aria-label="Details"></md-icon>-->
    <!--<md-divider></md-divder>-->
  <!--</md-list-item>-->
<!--</md-list>-->
