<md-card class="md-padding user-card">
  <md-input-container md-no-float>
    <md-icon md-svg-src="/img/icons/ic_email_24px.svg" class="email"></md-icon>
    <input ng-model="user.email" type="email" placeholder="Email" disabled>
  </md-input-container>
  <md-input-container md-no-float>
    <md-icon md-svg-src="/img/icons/ic_person_24px.svg"></md-icon>
    <input type="text" ng-model="user.familyName" placeholder="Last Name" ng-disabled="user.verified">
  </md-input-container>
  <md-input-container md-no-float>
    <md-icon></md-icon>
    <input type="text" ng-model="user.givenName" placeholder="First Name" ng-disabled="user.verified">
  </md-input-container>
  <md-input-container md-no-float>
    <md-icon md-svg-src="/img/icons/ic_phone_24px.svg"></md-icon>
    <input ng-model="user.mobileNumber" type="text" placeholder="Phone Number">
  </md-input-container>

  <md-button ng-click="requestCode()" ng-disabled="isDisabled">Request Code</md-button>

  <md-input-container ng-show="isRequested">
    <md-icon md-svg-src="/img/icons/ic_security_24px.svg"></md-icon>
    <input ng-model="inputCode" type="text" ng-disabled="isDisabled" aria-label="Verification Code">
    <div ng-messages="inputCode.$error">
      <div ng-message="required">{{secs}}</div>
    </div>
  </md-input-container>

  <md-button class="md-primary" ng-click="verify(inputCode)" ng-show="isRequested" ng-disabled="isDisabled">Verify</md-button>
  <md-button class="md-primary" ng-click="saveChanges()" ng-show="isVerified">Save Changes</md-button>
</md-card>
