
<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">
<md-content>
	<form method="post" name ="LGD_PAYINFO" id="LGD_PAYINFO" action ="payres.jsp">
	<table>
    <tr>
        <td>구매자 이름 </td>
        <td>{{paymentinfo.LGD_BUYER}}</td>
    </tr>
    <tr>
        <td>상품정보 </td>
        <td>{{paymentinfo.LGD_PRODUCTINFO}}</td>
    </tr>
    <tr>
        <td>결제금액 </td>
        <td>{{paymentinfo.LGD_AMOUNT}}</td>
    </tr>
    <tr>
        <td>구매자 이메일 </td>
        <td>{{paymentinfo.LGD_BUYEREMAIL}}</td>
    </tr>
    <tr>
        <td>주문번호 </td>
        <td>{{paymentinfo.LGD_OID}}</td>
    </tr>

    <tr>
        <td colspan="2">* 추가 상세 결제요청 파라미터는 메뉴얼을 참조하세요.</td>
    </tr>
    <tr>
        <td>
        <input type="button" value="결제요청(ActiveX)" onclick="doPay_ActiveX()"/><br>
        </td>
    </tr>
	</table>
	<input type="hidden" name="LGD_MID"             id = 'LGD_MID'				value="{{paymentinfo.LGD_MID}}"/>            <!-- 상점아이디 -->
	<input type="hidden" name="LGD_OID"             id = 'LGD_OID'              value="{{paymentinfo.LGD_OID}}"/>            <!-- 주문번호 -->
	<input type="hidden" name="LGD_BUYER"           id = 'LGD_BUYER'            value="{{paymentinfo.LGD_BUYER}}"/>          <!-- 구매자 -->
	<input type="hidden" name="LGD_PRODUCTINFO"     id = 'LGD_PRODUCTINFO'      value="{{paymentinfo.LGD_PRODUCTINFO}}"/>    <!-- 상품정보 -->
	<input type="hidden" name="LGD_AMOUNT"          id = 'LGD_AMOUNT'           value="{{paymentinfo.LGD_AMOUNT}}"/>         <!-- 결제금액 -->
	<input type="hidden" name="LGD_BUYEREMAIL"      id = 'LGD_BUYEREMAIL'		value="{{paymentinfo.LGD_BUYEREMAIL}}"/>     <!-- 구매자 이메일 -->
	<input type="hidden" name="LGD_CUSTOM_SKIN"     id = 'LGD_CUSTOM_SKIN'		value="{{paymentinfo.LGD_CUSTOM_SKIN}}"/>    <!-- 결제창 SKIN -->
	<input type="hidden" name="LGD_WINDOW_VER"      id = 'LGD_WINDOW_VER' 		value="{{paymentinfo.LGD_WINDOW_VER}}">      <!-- 결제창 버젼정보 -->
	<input type="hidden" name="LGD_TIMESTAMP"       id = 'LGD_TIMESTAMP'		value="{{paymentinfo.LGD_TIMESTAMP}}"/>      <!-- 타임스탬프 -->
	<input type="hidden" name="LGD_HASHDATA"        id = 'LGD_HASHDATA'			value="{{paymentinfo.LGD_HASHDATA}}"/>       <!-- MD5 해쉬암호값 -->
	<input type="hidden" name="LGD_NOTEURL"			id = 'LGD_NOTEURL'			value="{{paymentinfo.LGD_NOTEURL}}"/>        <!-- 결제결과 수신페이지 URL -->
	<input type="hidden" name="LGD_VERSION"         id = 'LGD_VERSION'			value="JSP_XPay_lite_2.5"/>			<!-- 버전정보 (삭제하지 마세요) -->
	<input type="hidden" name="LGD_BUYERIP"         id = 'LGD_BUYERIP'			value="{{LGD_BUYERIP}}">  		<!-- 구매자IP -->
	<input type="hidden" name="LGD_BUYERID"         id = 'LGD_BUYERID'			value="{{LGD_BUYERID}}">         <!-- 구매자ID -->

	<input type="hidden" name="LGD_TID"			    id = 'LGD_TID'              value=""/>
	<input type="hidden" name="LGD_PAYTYPE"	        id = 'LGD_PAYTYPE'		    value=""/>
	<input type="hidden" name="LGD_PAYDATE"	        id = 'LGD_PAYDATE'		    value=""/>
	<input type="hidden" name="LGD_FINANCECODE"	    id = 'LGD_FINANCECODE'		value=""/>
	<input type="hidden" name="LGD_FINANCENAME"	    id = 'LGD_FINANCENAME'		value=""/>
	<input type="hidden" name="LGD_FINANCEAUTHNUM"	id = 'LGD_FINANCEAUTHNUM'	value=""/>
	<input type="hidden" name="LGD_ACCOUNTNUM"	    id = 'LGD_ACCOUNTNUM'		value=""/>
	<input type="hidden" name="LGD_RESPCODE"        id = 'LGD_RESPCODE'         value=""/>
	<input type="hidden" name="LGD_RESPMSG"         id = 'LGD_RESPMSG'          value=""/>

	<!-- 가상계좌(무통장) 결제연동을 하시는 경우 주석을 반드시 해제 하시기 바랍니다. -->
	<!-- input type="hidden" name="LGD_CASNOTEURL"		id = 'LGD_CASNOTEURL'		value="<%= LGD_CASNOTEURL %>"/--> 	        					<!-- 가상계좌 NOTEURL -->

	</form>
</md-content>
	<!-- 가상계좌(무통장) 결제연동을 하시는 경우 주석을 반드시 해제 하시기 바랍니다. -->
	<!-- input type="hidden" name="LGD_CASNOTEURL"		id = 'LGD_CASNOTEURL'		value="{{ LGD_CASNOTEURL }}"/--> 	        					<!-- 가상계좌 NOTEURL -->


<!--  xpay.js는 반드시 body 밑에 두시기 바랍니다. -->
<!--  UTF-8 인코딩 사용 시는 xpay.js 대신 xpay_utf-8.js 을  호출하시기 바랍니다.-->




