
<meta http-equiv="Content-Type" content="text/html; charset=EUC-KR">
<title>LG유플러스 전자결제 샘플 페이지 (XPay-Lite)</title>

<body>
<form >
    <div>
        <table>CST_MID
            <tr>
                <td>상점아이디(t를 제외한 아이디) </td>
                <td><input type="hidden" ng-model="testPaymentData.CST_MID" value="tnixgon"/></td>
            </tr>
            <tr>
                <td>서비스,테스트 </td>
                <td><input type="hidden" ng-model="testPaymentData.platform" value="test"/></td>
            </tr>
            <tr>
                <td>구매자 이름 </td>
                <td><input type="text" ng-model="testPaymentData.LGD_BUYER" value="홍길동"/></td>
            </tr>
            <tr>
                <td>상품정보 </td>
                <td><input type="text" ng-model="testPaymentData.LGD_PRODUCTINFO" value="myLG070-인터넷전화기"/></td>
            </tr>
            <tr>
                <td>결제금액 </td>
                <td><input type="text" ng-model="testPaymentData.LGD_AMOUNT" value="50000"/></td>
            </tr>
            <tr>
                <td>구매자 이메일 </td>
                <td><input type="text" ng-model="testPaymentData.LGD_BUYEREMAIL" value=""/></td>
            </tr>
            <tr>
                <td>주문번호 </td>
                <td><input type="text" ng-model="testPaymentData.LGD_OID" value="test_1234567890020"/></td>
            </tr>
            <tr>
                <td>타임스탬프 </td>
                <td><input type="text" ng-model="testPaymentData.LGD_TIMESTAMP" value="1234567890"/></td>
            </tr>
            <tr>
                <td>MertKey </td>
                <td><input type="text" ng-model="testPaymentData.LGD_MERTKEY" value=""/></td>
            </tr>
            <tr>
            	<td></td>
                <td>MertMey는 상점관리자 ->계약정보 ->상점정보관리에서 확인하세요</td>
            </tr>

            <tr>
                <td>
                <md-button ng-click="urlString('/payreq')"> 결제하기</md-button><br/>
                </td>
            </tr>
        </table>
    </div>
    </form>
</body>
</html>