<md-toolbar class="md-tall"></md-toolbar>
<md-progress-linear class="md-accent" ng-show="!isSpacesReady" md-mode="indeterminate"></md-progress-linear>
<div class="md-padding" ng-init="getCards()" ng-show="isSpacesReady">
  <md-card>
      <md-card-content>
        <h2 class="md-title">검색 할 날짜와 체크아웃 할 좌석의 RFID 카드를 입력하십시오.</h2>
        <md-input-container >
          <label>검색 날짜</label>
          <input ng-model="seachDate" type="date" ng-change="rfidCheckINButton()">
        </md-input-container>
        <md-input-container >
            <label>rfid 카드 </label>
            <input ng-model="rfidCheck" type="text" ng-change="rfidCheckINButton()">
          </md-input-container>
        <div ng-if="rfidChk">
          <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
              <span>{{checkMember.space.city | translate}}-{{checkMember.space.camp | translate}}-{{checkMember.space.type}}{{checkMember.space.number}}</span>
            </h2>
          </md-toolbar>
          <md-list>
            <md-list-item class="md-3-line" ng-repeat="check in checkMember | orderBy:check.period.start">
              <div class="md-list-item-text"  layout-padding>
                <h3>{{check.astronautId}} </h3>
                <h4>
                  <span ng-if="checkMember.space.category=='WORK'">{{check.start | date:'yyyy-MM-dd'}} </span>
                  <span ng-if="checkMember.space.category=='EVENT'">{{check.start | date:'yyyy-MM-dd HH:mm'}}~{{check.end | date:'HH:mm'}} {{check.duration}}시간</span> </h4>
                <p>{{check.status | translate }}</p>
                <div class="md-secondary" ng-if="check.status=='CHECK_IN'">
                  <md-button ng-click="checkInOUT(check,'CHECK_OUT')">체크아웃</md-button>
                </div>
                <md-divider></md-divider>
              </div>
            </md-list-item>
        </div>
        <div ng-if="errMsg!=''">{{errMsg}}</div>
      </md-card-content>
    </md-card>
</div>