<html lang="en" ng-app="nixgonspace.app">
  <head>

    <style type="text/css">
      .bookingType {
        line-height: 5rem;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        margin: 16px;
        color:rgba(255,255,255,0.87);
        background-color:rgb(63,81,181);
      }
      th{text-align:center;}
      tr{padding:5px}
      .centerAlign {text-align:center}
      .numberAlign{text-align:right}
    </style>
    <title>ADMIN SPACE</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1" />

    <link rel="stylesheet" href="//rawgit.com/angular/bower-material/master/angular-material.css">
    <link rel="stylesheet" href="css/app.css">

    <!-- Angular Material Dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-messages.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-route.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bower-angular-translate/2.6.1/angular-translate.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bower-angular-translate-loader-static-files/2.6.1/angular-translate-loader-static-files.min.js"></script>   <!-- Angular Material Javascript using RawGit to load directly from `bower-material/master -->
    <script src="//rawgit.com/angular/bower-material/master/angular-material.js"></script>
    <script src="//code.angularjs.org/1.3.6/angular-cookies.js"></script>
    <script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>
    <script src="/js/momentjs/moment-with-locales.js"></script>
    <script src="/js/admin.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
  </head>

  <body ng-controller="HomeCtrl">
      <section layout="row" layout-fill style="position:absolute">
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"  md-is-locked-open="$mdMedia('gt-sm')" >
            <md-toolbar class="md-tall">
              <div layout="column" layout-align="space-around start" style="width:304px;">
                <div flex style="margin-top:7px;margin-left:10px">
                   <span class="md-display-1"> NIXGON SPACE </span>
                </div>
                <div flex ng-if="signedIn">
                  <md-list>
                    <md-list-item class="md-4-line">
                      <img src="{{userinfo.picture}}" class="md-avatar"  />
                      <div class="md-list-item-text">
                        <div class="md-caption">{{userinfo.email}}</div>
                        <!--div class="md-caption">{{ 'RemainingPoints' | translate }}: {{userinfo.point}}</div-->
                        <div class="md-caption">{{ 'membershiplevel' | translate }}: {{userinfo.level | translate}}</div>
                        <div class="md-caption">{{ 'ExpirationDate' | translate }}: {{userinfo.expired | date:'yyyy-MM-dd'}} </div>
                      </div>
                    </md-list-item>
                  </md-list>
                </div>
              </div>
            </md-toolbar>
            <md-content layout-padding >
              <md-list>
                <md-list-item ng-repeat="menuList in menuLists" ng-click="urlString(menuList.urlString)" layout-padding >
                  <!--md-icon md-svg-icon=""></md-icon-->
                  <ng-md-icon icon="{{menuList.icon}}" style="fill: #aaa;margin-right:20px" size="24px"></ng-md-icon>

                  <p>{{ menuList.menuName | translate }}</p>
                </md-list-item>
              </md-list>
           </md-content>
        </md-sidenav>
        <md-content layout-fill>
          <section ng-view></section>
        </md-content>
      </section>
  </body><!--script language="javascript" src="http://xpay.uplus.co.kr:7080/xpay/js/xpay_ub.js" type="text/javascript"></script-->
</html>