<style type="text/css">
.red {
    color: red;
}
</style>
<md-toolbar class="md-tall"></md-toolbar>
<md-progress-linear class="md-accent" ng-show="!isSpacesReady" md-mode="indeterminate"></md-progress-linear>
<div class="md-padding">
<table ng-init="getOrders()" style="width:100%;margin:0 auto" ng-show="isSpacesReady">
  <tr>
    <th><md-button ng-click="orderbyChange('astronautId')">주문번호</md-button></th>
    <th><md-button ng-click="orderbyChange('fullName')">주문(예약)자명</md-button></th>
    <th><md-button ng-click="orderbyChange('typeNumber')">품명</md-button></th>
    <th><md-button ng-click="orderbyChange('status')">상태</md-button></th>
  </tr>
  <tr ng-repeat="order in orderList | filter:{ status:'CHECK_IN' }  | orderBy:orderState.orderBy:orderState.reverse">
    <td class="centerAlign md-caption">{{order.orderId}} </td>
    <td class="centerAlign" ng-class="{red : !order.astronaut.verified}" ng-click="verifyChange(order.astronaut)">
      <div>{{order.fullName}}<span class="md-caption">({{order.astronaut.mobileNumber}})</span><br></div>

      <div class="md-caption">{{order.astronautId}}</div>
    </td>
    <td class="centerAlign">{{order.period.space.city | translate}}-{{order.period.space.camp | translate}}-{{order.period.space.type}}{{order.period.space.number}} </th>

    <td class="centerAlign">{{order.status | translate }}</td>
  </tr>
</table>
</div>