<md-toolbar class="md-tall"></md-toolbar>
<md-progress-linear class="md-accent" ng-show="!isSpacesReady" md-mode="indeterminate"></md-progress-linear>
<div class="md-padding" ng-init="getMembers()" ng-show="isSpacesReady">
    <md-subheader class="md-accent">{{'Unverified Members' | translate}}</md-subheader>
    <md-list layout-padding>
      <md-list-item ng-if="!member.verified" ng-repeat="member in userList" class="md-3-line">
        <div class="md-list-item-text">
          <h3>{{member.familyName}}{{member.givenName}} ({{member.email}})</h3>
          <h4>{{member.mobileNumber}}</h4>
          <p>{{member.level | translate}}</p>
        </div>
        <div layout="row" layout-align="center center">
          <md-button class="md-raised md-accent" ng-click="verifyChange(member)">{{'Verify Member' | translate}}</md-button>
        </div>
        <!-- <md-icon class="md-secondary md-accent" md-svg-icon="/img/icons/ic_verified_user_24px.svg" ng-click="verifyMember($index)"></md-icon> -->
      </md-list-item>
    </md-list>

    <md-subheader class="md-primary">{{'Verified Members' | translate}}</md-subheader>
    <md-list layout-padding>
      <md-list-item ng-if="member.verified" ng-repeat="member in userList" class="md-2-line">
        <div class="md-list-item-text">
          <h3>{{member.familyName}}{{member.givenName}} ({{member.email}})</h3>
          <p>{{member.mobileNumber}}</p>
        </div>
        <div layout="row" layout-align="center center">
          <md-select placeholder="Member Level" ng-model="member.level">
            <md-option ng-repeat="level in lebelList" ng-value="level">{{level | translate}}</md-option>
          </md-select>
          <md-button class="md-raised md-primary" ng-click="updateLevel(member)">{{'Change Level' | translate}}</md-button>
        </div>
        <!-- <md-icon class="md-secondary md-primary" md-svg-icon="/img/icons/ic_done_24px.svg" ng-click="updateLevel(member)"></md-icon> -->
      </md-list-item>
    </md-list>
</div>
