<md-dialog  class="travel">
<md-card>

  <md-card-content>

    <h2 class="md-title primary-title">Payment Information : {{travel.period.space.camp}}-{{travel.period.space.type}}{{travel.period.space.number}}</h2>
    <div layout="row" layout-align="start center">
      <span>Booking Date: </span>
      <span flex></span>
      <md-input-container md-no-float>
        <input ng-model="travel.period.start" placeholder="price" disabled>
      </md-input-container>
    </div>
    <div layout="row" layout-align="start center">
      <span>Duration: </span>
      <span flex></span>
      <md-input-container md-no-float>
        <input ng-model="travel.period.duration" placeholder="price" disabled>
      </md-input-container>
    </div>
    <div layout="row" layout-align="start center">
      <span>Price: </span>
      <span flex></span>
      <md-input-container md-no-float>
        <input type="number" ng-model="travel.price" placeholder="price" disabled>
      </md-input-container>
    </div>
    <div layout="row" layout-align="start center">
      <span>Point:</span>
      <span flex></span>
      <md-input-container md-no-float>
        <input type="number" ng-model="travel.usedPoint" placeholder="Used Point" disabled>
      </md-input-container>
    </div>
    <div layout="row" layout-align="start center">
      <span>Payment Type:</span>
      <span flex></span>
      <md-radio-group ng-model="travel.payment.isOnline" layout="row">
        <md-radio-button ng-value="true" disabled>Online</md-radio-button>
        <md-radio-button ng-value="false">Offline</md-radio-button>
      </md-radio-group>
    </div>
    <div layout="row" layout-align="start center">
      <span>Payment Method:</span>
      <span flex></span>
      <md-radio-group ng-model="travel.payment.method" layout="row">
        <md-radio-button ng-value="'CASH'">Cash</md-radio-button>
        <md-radio-button ng-value="'CARD'">체크카드</md-radio-button>
        <md-radio-button ng-value="'CREDIT_CARD'">신용카드</md-radio-button>
        <md-radio-button ng-value="'BANK_TRANSFER'">무통장입금</md-radio-button>
      </md-radio-group>
    </div>
    <md-action-bar layout="row" layout-align="end center">
      <md-button class="md-accent" ng-click="placeOrder(travel)">Place an order</md-button>
    </md-action-bar>
  </md-card-content>
</md-card>
</md-dialog>