<style type="text/css">
.red {
    color: red;
}
</style>
<md-toolbar class="md-tall"></md-toolbar>
<md-progress-linear class="md-accent" ng-show="!isSpacesReady" md-mode="indeterminate"></md-progress-linear>

  <div class="md-padding" ng-init="getOrders()" ng-show="isSpacesReady">
    <div style="width: 100%;" >
      <section layout="row" layout-align="center center" layout-padding>
        <div flex="15">
          <span> 검색 방법 :</span>
        </div>
        <div flex="20" >
          <md-select ng-model="howToSearch" flex style="width: 100%;">
            <md-option ng-value=""></md-option>

            <md-option ng-value="'fullName'">주문자명</md-option>
            <md-option ng-value="'email'">email</md-option>
            <md-option ng-value="'mobileNumber'">핸드폰번호</md-option>
            <md-option ng-value="'typeNumber'">스페이스타입(영문)</md-option>
            <md-option ng-value="'orderId'">주문번호</md-option>

          </md-select>
        </div>
        <div flex="20">
          <md-input-container >
            <label>검색 내용 </label>
            <input ng-model="searchInput" type="text">
          </md-input-container></div>
        <div flex="15"> 예약 상태 : </div>
        <div flex="20">
          <md-select ng-model="searchStatus" flex style="width: 100%;" >
            <md-option ng-value=""></md-option>
            <md-option ng-repeat="state in fullStatusList" ng-value="state">{{ state | translate }}</md-option>
          </md-select>
        </div>
        <div flex="10">
          <md-button ng-click="orderListFilter()">검색</md-button>
        </div>
      </section>
    </div>
  </div>
  <md-divider style="margin-bottom:20px"></md-divider>

<table style="width:100%;margin:0 auto" ng-show="isSpacesReady">
  <tr>
    <th><md-button ng-click="orderbyChange('astronautId')"> 주문(예약)번호</md-button></th>
    <th><md-button ng-click="orderbyChange('fullName')">주문(예약)자명</md-button></th>
    <!--th><md-button ng-click="orderbyChange('typeNumber')">품명</md-button></th-->
    <th><md-button ng-click="orderbyChange('price')">상품가격</md-button></th>
    <!--th><md-button ng-click="orderbyChange('price')">수량</md-button></th-->
    <th><md-button ng-click="orderbyChange('usedPoint')">사용포인트</md-button></th>
    <th><md-button ng-click="orderbyChange('price')">결제금액</md-button></th>
    <th><md-button ng-click="orderbyChange('status')">상태</md-button></th>
  </tr>
  <tr ng-repeat="order in orderList | orderBy:orderState.orderBy:orderState.reverse">
    <td class="centerAlign md-caption">{{order.orderId}}</td>
    <td class="centerAlign" ng-class="{red : !order.astronaut.verified}" ng-click="verifyChange(order.astronaut)">
      <div>{{order.fullName}}<span class="md-caption"> ( {{order.astronaut.mobileNumber}} )</span><br></div>

      <div class="md-caption">{{order.astronautId}}</div>
    </td>
    <!--td class="centerAlign">{{order.period.space.city | translate}}-{{order.period.space.camp | translate}}-{{order.period.space.type}}{{order.period.space.number}}
      <br>
      <span class="md-caption" ng-if="order.period.space.category=='WORK'">({{order.period.start | date:'yyyy-MM-dd'}}</span>
      <span class="md-caption" ng-if="order.period.space.category=='EVENT'">({{order.period.start | date:'yyyy-MM-dd HH:mm'}}</span>
      <span class="md-caption">{{order.period.duration}} </span>
      <span class="md-caption" ng-if="order.period.space.category=='WORK'">일)</span>
      <span class="md-caption" ng-if="order.period.space.category=='EVENT'">시간)</span>
    </td-->
    <td class="numberAlign">{{order.price}}</td>
    <!--td class="numberAlign">1</td-->
    <td class="numberAlign">{{order.usedPoint}} </td>
    <td class="numberAlign">{{order.price-order.usedPoint}}</td>
    <td class="centerAlign">
      <!--div class="md-caption" ng-if="order.status !='ORDERED' && order.status!='OFFLINE_PENDING' && order.status != 'ONLINE_PENDING'">{{order.status | translate }}</div-->
      <md-button ng-click="stateChange(order)" class="md-primary" >{{order.status | translate }}</md-button>
    </td>
  </tr>
</table>
