<md-content>
  <md-card style="width:800px;" >
      <img class="md-card-image" src="img/coWorkingSpace.jpg">
      <md-card-content>
        <h2 class="md-title">코워킹 스페이스 1일권</h2>
        <p class="md-subhead">가격 : 7700원</p>
        <p class="md-body-1">
          닉스곤 스페이스는 부산의 중심부인 서면에 위치한 회원제 개방형 코워킹 스페이스입니다. 우리는 혁신적 1인창조기업, 스타트업, 프리랜서, 프로젝트팀, 스터디그룹 등과 같은 커뮤니티를 위하여 개인 또는 공동의 사무작업 및 스터디, 모임 공간, 그리고 다양한 서비스 등을 합리적이고 유연한 가격에 제공합니다. 구글 공식 파트너 기업인 닉스곤 주식회사가 제공하는 플랫폼 "닉스곤 스페이스"의 공간, 커뮤니티, 서비스 등의 가치를 활용하여 충분한 방향성 재고를 기반으로 한 간결한 사무작업, 학습, 그리고 각종 모임을 통하여,  멤버들과 소통하고 아이디어를 공유, 혁신하여 신속, 안정 그리고 지속적으로 상생하며 성장하세요.
        </p>
      </md-card-content>
    <md-action-bar layout="row" layout-align="end center">
        <md-button ng-click="hide()">돌아가기</md-button>
      </md-action-bar>
    </md-card>
</md-content>

