<md-dialog style="padding:30px;">
  <!--md-card-->
  <!--<md-card-content>-->
    <h2 class="md-title primary-title">{{'Payment Information' | translate}} : {{travel.period.space.city | translate }}-{{travel.period.space.camp | translate }}-{{travel.period.space.type}}{{travel.period.space.number}}</h2>
    <p>{{travel.fullName}} 님의 예약상태를 를 다음 상태를
      <md-select  ng-model="status" ng-change="statusChange()">
        <md-option ng-repeat="state in statusList" ng-value="state">{{ state | translate }}</md-option>
      </md-select> 로 변경하시겠습니까?</p>
    <md-content ng-hide = "!statusChangeCheck" >
      <div layout="row" layout-align="start center">
        <span>{{ 'Booking Date' | translate}}: </span>
        <span flex></span>
        <md-input-container md-no-float>
          <input ng-model="travel.period.start" placeholder="price" disabled>
        </md-input-container>
      </div>
      <div layout="row" layout-align="start center">
        <span>{{ 'Duration' | translate}}: </span>
        <span flex></span>
        <md-input-container md-no-float>
          <input ng-model="travel.period.duration" placeholder="price" disabled>
        </md-input-container>
      </div>
      <div layout="row" layout-align="start center">
        <span>{{ 'price' | translate}}: </span>
        <span flex></span>
        <md-input-container md-no-float>
          <input type="number" ng-model="travel.price" placeholder="price" disabled>
        </md-input-container>
      </div>
      <div layout="row" layout-align="start center">
        <span>{{ 'PointUse' | translate}} :</span>
        <span flex></span>
        <md-input-container md-no-float>
          <input type="number" ng-model="travel.usedPoint" placeholder="Used Point" disabled>
        </md-input-container>
      </div>
      <div layout="row" layout-align="start center">
        <span>{{'Payment Type' | translate}}:</span>
        <span flex></span>
        <md-radio-group ng-model="travel.payment.isOnline" layout="row">
          <md-radio-button ng-value="true" disabled>{{'Online' | translate}}</md-radio-button>
          <md-radio-button ng-value="false" ng-disabled = "!statusChangeCheck" >{{'Offline' | translate}}</md-radio-button>
        </md-radio-group>
      </div>
      <div layout="row" layout-align="start center">
        <span>{{'Payment Method' | translate}}:</span>
        <span flex></span>
        <md-radio-group ng-model="travel.payment.method" layout="row">
          <!--md-radio-button ng-value="'BANK_TRANSFER'">{{'BANK_TRANSFER' | translate}}</md-radio-button-->
          <md-radio-button ng-value="'CARD'">{{'CARD' | translate}}</md-radio-button>
          <!--<md-radio-button ng-value="'CREDIT_CARD'">신용카드</md-radio-button>-->
          <!--md-radio-button ng-value="'CASH'">{{'CASH' | translate}}</md-radio-button-->
        </md-radio-group>
      </div>
    </md-content>
    <md-action-bar layout="row" layout-align="end center">
      <md-button class="md-accent" ng-click="placeOrder(travel)">
        <span ng-show="status=='OFFLINE_PAID'">{{'Place an order' | translate}}</span>
        <span ng-show="status=='ADMIN_CANCELED'" >예약 취소</span>
      </md-button>
      <md-button ng-click="hide()" class="md-primary">{{'CANCEL' | translate}}</md-button>
    </md-action-bar>

  <!--</md-card-content>-->
<!--</md-card>-->
</md-dialog>